/.idea/*
!/.idea/runConfigurations
*.iml
/run/
/log/
/build/
/.gradle/
*.class
*.ipr
/out/
.DS_Store
gradle.properties
# any json-like file in top directory, including configs, auth cache, etc.
/*.json*
*.tmp
/.vscode
/launcher
/ViaLoader/
dist/
/*.spec
__pycache__/
*.exe
*.zip
/launcher-python*
