/.idea/*
!/.idea/runConfigurations
*.iml
/run/
/log/
/build/
/.gradle/
*.class
*.ipr
/out/
.DS_Store
# any json-like file in top directory, including configs, auth cache, etc.
/*.json*
*.tmp
/.vscode
/launcher
/ViaLoader/
dist/
/*.spec
__pycache__/
*.exe
*.zip
/launcher-python*
maps/
replays/
/plugins

dataGenerator/run
/dataGenerator/.gradle

/dataGenerator/build
/dataGenerator/.idea

/.kotlin/
buildSrc/.gradle
buildSrc/.kotlin
buildSrc/build
.python-version
uv.lock
