<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration scan="false">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
    <serializeModel file="src/main/resources/logback.scmo"/>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.classic.filter.ThresholdFilter"/>
    <import class="ch.qos.logback.classic.filter.LevelFilter"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>
    <import class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"/>

    <statusListener class="com.zenith.terminal.logback.PrintOnlyErrorLogbackStatusListener"/>
    <!-- Prevent logback compression failing during JVM stop https://logback.qos.ch/manual/configuration.html#shutdownHook -->
    <shutdownHook/>

    <appender name="FILE" class="com.zenith.terminal.logback.LazyInitRollingFileAppender">
        <file>log/latest.log</file>
        <encoder class="com.zenith.terminal.logback.MCTextFormatEncoder">
            <pattern>[%d{yyyy/MM/dd HH:mm:ss}] [%logger{36}] [%level] %minecraftText%n</pattern>
        </encoder>
        <rollingPolicy class="TimeBasedRollingPolicy">
            <fileNamePattern>log/proxy-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxHistory>1000</maxHistory>
            <totalSizeCap>250MB</totalSizeCap>
            <TimeBasedFileNamingAndTriggeringPolicy class="com.zenith.terminal.logback.StartupSizeAndTimeBasedTriggeringPolicy">
                <MaxFileSize>250MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <filter class="ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="DEBUG_FILE" class="com.zenith.terminal.logback.LazyInitRollingFileAppender">
        <file>log/debug.log</file>
        <encoder class="com.zenith.terminal.logback.MCTextFormatEncoder">
            <pattern>[%d{yyyy/MM/dd HH:mm:ss}] [%logger{36}] [%level] %minecraftText%n</pattern>
        </encoder>
        <rollingPolicy class="TimeBasedRollingPolicy">
            <fileNamePattern>log/proxy-%d{yyyy-MM-dd}.%i.debug.log.zip</fileNamePattern>
            <maxHistory>1000</maxHistory>
            <totalSizeCap>250MB</totalSizeCap>
            <TimeBasedFileNamingAndTriggeringPolicy class="com.zenith.terminal.logback.StartupSizeAndTimeBasedTriggeringPolicy">
                <MaxFileSize>250MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <filter class="ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <filter class="com.zenith.terminal.logback.DebugLogConfigurationFilter"/>
    </appender>

    <appender name="TERMINAL" class="com.zenith.terminal.logback.TerminalConsoleAppender">
        <encoder class="com.zenith.terminal.logback.MCTextFormatANSIEncoder">
            <pattern>[%d{yyyy/MM/dd HH:mm:ss}] [%logger{36}] [%level] %minecraftText%n</pattern>
        </encoder>
        <filter class="ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <root level="INFO">
        <!--        allow logs from other libs to also go to stdout-->
        <appender-ref ref="TERMINAL"/>
    </root>
    <logger name="org.jline" level="WARN">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DEBUG_FILE"/>
    </logger>
    <logger name="discord4j" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DEBUG_FILE"/>
    </logger>
    <logger name="ViaVersion" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DEBUG_FILE"/>
    </logger>
    <logger name="ViaBackwards" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DEBUG_FILE"/>
    </logger>
    <logger name="Proxy" level="TRACE">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DEBUG_FILE"/>
    </logger>
    <logger name="Auth" level="TRACE">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DEBUG_FILE"/>
    </logger>
    <logger name="Cache" level="TRACE">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DEBUG_FILE"/>
    </logger>
    <logger name="Client" level="TRACE">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DEBUG_FILE"/>
    </logger>
    <logger name="Chat" level="TRACE">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DEBUG_FILE"/>
    </logger>
    <logger name="Module" level="TRACE">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DEBUG_FILE"/>
    </logger>
    <logger name="Server" level="TRACE">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DEBUG_FILE"/>
    </logger>
    <logger name="Discord" level="TRACE">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DEBUG_FILE"/>
    </logger>
    <logger name="Database" level="TRACE">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DEBUG_FILE"/>
    </logger>
    <logger name="Terminal" level="TRACE">
        <appender-ref ref="FILE"/>
        <appender-ref ref="DEBUG_FILE"/>
    </logger>
</configuration>
