name: Prerelease GraalVM Native

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+\+linux.1.20.3.pre'

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Setup GraalVM
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Echo Versions and Paths
        run: |
          echo "GRAALVM_HOME: $GRAALVM_HOME"
          echo "JAVA_HOME: $JAVA_HOME"
          java --version
          native-image --version

      - name: Elevate wrapper permissions
        run: chmod +x ./gradlew

      - name: Build ZenithProxy
        uses: gradle/gradle-build-action@v2
        with:
          arguments: nativeCompile

      - name: Elevate binary permissions
        run: chmod +x build/native/nativeCompile/*

      # This will reduce the size of the binary substantially.
      # BUT, the tradeoff is increased mem usage at runtime
      # which is exactly what we're trying to avoid by using native compilation.
      #      - name: Compress Native Binary
      #        uses: svenstaro/upx-action@v2
      #        with:
      #          files: |
      #            build/native/nativeCompile/ZenithProxy

      - name: Zip Binary And Libs
        run: zip -j ZenithProxy.zip build/native/nativeCompile/*

      - name: Release Artifact
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "${{ github.ref_name }}"
          prerelease: true
          files: |
            ZenithProxy.zip
